<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Виктор Цой</h1>
<br>
<img src="https://avatars.mds.yandex.net/i?id=0730636ae938984e84f36714510a851e_l-5238116-images-thumbs&n=13" alt="Фотка">
<div><strong><p>Добрый день, я покажу вам моего любимого исполнителя
    <a href="https://ru.wikipedia.org/wiki/%D0%A6%D0%BE%D0%B9,_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82%D0%BE%D0%B2%D0%B8%D1%87">
        <ins>Виктора Цоя</ins></a></strong><br>
    Этот человек грубо говоря был всё время со мной<br>
    В <em>МАШИНЕ</em>, в <del>наушниках</del>, он был<br>
    Всегда рядом. Он сделал моё детство, оно было лучшим.<br>
    <mark>Спасибо ему за всё!</mark>

</body>
</html>